<a href="https://colab.research.google.com/github/jes-coder/Linear-Algebra---58013/blob/main/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Variable and Data Types
x = 1
a,b = 0, -1

type(x)

y = 1.0
type(y)

x = float(x)
type(x)

s,t,u = "0", '1', 'one'
type(s)

s_int = int(s)
s_int

0

In [9]:
# Arithmetic Operations
a, b , c , d = 2.0, -0.5, 0, -32

# Addition
S = a + b
S

# Subtraction
D = b-d
D

# Multiplication
P = a*d
P

# Division
Q = c/a
Q

0.0

In [7]:
# Exponentiation
E = a**b
E

# Modulo
mod = d%a
mod

0.0

In [10]:
#Assignment Operations
G, H, J, K = 0, 100, 2, 2

G += a
G

H -= d

J *= 2
J

K **= 2
K

4

In [12]:
#Comparators
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0
# Equality
res_1 == true_val

# Non-equality
res_2 != true_val

# Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t1

False

In [13]:
#Logical
res_1 == true_val

res_1 is true_val

res_1 is not true_val

p, q = True, False
conj = p and q
conj

p, q = True, False
disj = p or q
disj


p, q = True, False
nand = not(p and q)
nand

p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

In [14]:
#Input and Output Operations
print("Hello World")

cnt = 1
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

print(f"{string}, Current count is: {cnt}")

sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

x = input("enter a number: ")
x

name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello World
Hello World , Current run count is: 1
Hello World, Current count is: 2
Hello , your semestral grade is: 82.24356465746123
The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.
enter a number: 5
Kimi no nawa: 2
Enter prelim grade: 1
Enter midterm grade: 2
Enter finals grade: 3
Hello 2, your semestral grade is: None

In [24]:
#Looping Statements
# while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10
0
1
2
3
4
5
6
7
8
9

In [25]:
#Flow Control
#Condition Statements
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
     print("Yey")
elif(numeral1>numeral2):
     print("Hoho")
else:
     print("Aww")
print("Hip hip")

Yey
Hip hip

In [27]:
#Functions
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
     print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
     print("Successfully deleted all users")